<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eojin.board.web.mapper.board.BoardMapper">
    <sql id="sql_selectBoard">
        SELECT BOARD_ID,
               BOARD_TYPE,
               TITLE,
               CONTENT,
               USER_ID,
               DELETE_YN,
               CREATE_DATE,
               UPDATE_DATE
        FROM BOARD;
    </sql>
    <sql id="sql_selectBoard_where">
        <where>
            AND BOARD_ID = #{board_id}
        </where>
    </sql>
    <select id="selectBoardList" resultType="Board" parameterType="Map">
        <include refid="sql_selectBoard"></include>
    </select>
</mapper>